<section class="toppage">
 <div class="container">
 <div class="row">
 <div class="toppage-lfet col-sm-5">
  <div class="square-top">
   <img src="<%= asset_path "egg.png" %>" class="photo"></span>
  </div>
  <div class="square-under">
   <p class="toppage-name">ひよこ</p>
   <p class="toppage-address">@hiyoko</p>
  </div>
  <div class="sub-user">
   <p>おすすめユーザー</p>
   <ul>
    <li>ニワトリ</li>
    <li>シャボ</li>
    <li>ウコッケイ</li>
   </ul>
  </div>
 </div>

 <div class="toppage-center col-sm-6">
  <h1>EXAM 1</h1>
  <p>Twitterに似たデザインを作ろう！</p>
 </div>
 </div>
 </div>
</section>